<h1>Hello World</h1>
<table>
  <% @recipes.each do | recipe | %>
  <tr>
    <td><%= link_to image_tag(recipe["image_url"]), recipe["source_url"] %></td>
    <td><%= link_to recipe["title"], recipe["source_url"] %></td>
    <td><%= recipe["publisher"] %></td>
  </tr>
  <% end %>
</table>
